/* Стиль для секции Hero */
.hero-section {
    background-color: #3155d6; /* Синий фон */
    border-radius: 40px; /* Скругленные углы */
    padding: 40px 60px;
    margin-top: 115px;
    color: #fff;
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Заголовок */
.hero-section h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Описание */
.hero-section p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

/* Кнопка */
.cta-button {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 40px; /* Нижний отступ для кнопки */
}

/* Иконки преимуществ */
.icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Левое выравнивание */
    gap: 15px;
    margin-top: 45px; /* Добавляем отступ между кнопкой и иконками */
}

.icon {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    font-size: 1em;
    min-width: max-content;
}

/* Мобильная версия Hero */
@media (max-width: 768px) {
    .hero-section {
        padding: 20px 10px; /* Уменьшаем отступы */
    }

    .hero-section h1 {
        font-size: 1.8em; /* Меньший заголовок на мобильных */
    }

    .hero-section p {
        font-size: 1em; /* Меньший текст на мобильных */
    }

    .cta-button {
        font-size: 1em;
    }

    .icons-wrapper {
        justify-content: center; /* Центрируем иконки на мобильных */
    }
}
