/* Поп-ап основное окно */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    max-height: 80%;
    overflow-y: auto;
}

.popup h2 {
    margin-bottom: 20px;
}

/* Поля ввода с плавающими метками */
.field-wrapper {
    position: relative;
    margin: 20px 0;
}

.field-wrapper input,
.field-wrapper textarea,
.field-wrapper select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 10px;
}

.field-wrapper label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 10px;
    color: #999;
}

/* Префикс для номера телефона */
.field-wrapper.phone-wrapper {
    position: relative;
}

.phone-wrapper input {
    padding-left: 38px;
}

.phone-wrapper .phone-prefix {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #555;
}

/* Кнопка отправки */
.popup button {
    background-color: #ADD8E6; /* Изначально неактивная кнопка */
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: not-allowed;
    border-radius: 5px;
    width: auto;
    margin-top: 20px;
}

.popup button.active {
    background-color: #21ace4; /* Активная кнопка */
    cursor: pointer;
}

.popup button:hover {
    background-color: #87CEEB;
}

/* Закрыть поп-ап */
.close-popup {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.close-popup:hover {
    color: #ff0000;
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
}

.toast {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    animation: fadeInOut 5s;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
